<% provide(:title, "Home") %>
<meta name="viewport" content="width=device-width, initial-scale=1">





<div class="jumbotron">
<%= link_to image_tag("drawisland(1).png") %>


<h1>The Barker Project</h1>
</div>

<p>
	<div>
	  I'm Sharell, a true diy'er and born revitalizer. Ever since I can remember I've attempted to revamp anything I could get my hands on that I felt   needed new life and purpose. 

	</div>
</p>



  <div class= "img-responsive"><iframe width="560" height="315" src="https://www.youtube.com/embed/1L3Syz3Mtuc" frameborder="0" allowfullscreen></iframe> </div>

