<% provide(:title, "Home") %>
<h1>The Barker Project</h1>

<p>
	I'm Sharell, a true diy'er and born revitalizer. Ever since I can remember I've attempted to revamp anything I could get my hands on that I felt needed new life and purpose. 
</p>



  <div style="text-align: center"> <iframe width="560" height="315" src="https://www.youtube.com/embed/1L3Syz3Mtuc" frameborder="0" allowfullscreen></iframe> </div>

