<% provide(:title, "Redesign") %>
<h1>Redesign</h1>

<p>
  <div>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ornare nulla et augue dignissim, vitae tempus lectus faucibus. Nulla hendrerit, enim nec pretium dapibus, nisi lacus eleifend augue, vitae aliquet ligula eros in ipsum. Pellentesque in diam vitae massa hendrerit facilisis sollicitudin eget ligula. Ut dictum, neque non suscipit eleifend, ligula orci ultrices nisl, vel auctor sapien velit vel erat. Proin tempus, eros eget fermentum suscipit, nibh augue aliquet neque, ac tempus massa turpis id justo. Nulla ac vestibulum nibh, eu aliquet sem. Vivamus convallis urna leo, sagittis imperdiet erat venenatis sed. Nulla facilisi. Donec egestas erat nisi, et egestas nisi laoreet ut. Ut lacus tellus, consectetur sit amet ex quis, ultricies accumsan est. Vestibulum tincidunt in enim et iaculis.

  </div> 
</p>

<div style="text-align: center"> <iframe width="560" height="315" src="https://www.youtube.com/embed/JL2dxGQhtbE" frameborder="0" allowfullscreen></iframe> </div>